<div class="set_height">
  <h1 align="center" class="pd_align2 ">Article Dashboard User's</h1>
  <div class="mt-5">
    <div class="card-deck">
      <% @user_list.each do |user| %>
        <div class="flip-card m-3 shadow">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="p-3">
                <%= gravatar_for user, size: 120 %>
              </div>
              <div class="p-0">
                <h4><%= user.username%></h4>
              </div>
            </div>
            <div class="flip-card-back p-2">
              <h1><%= user.username%></h1>
              <p><%= user.email%></p>
              <p>We love that guy</p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                    <i class="fa fa-skype"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                    <i class="fa fa-google"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card %>
