
  <div class="jumbotron">
  <%# <div class="container homescreen"> %>
    <div class="login-box div-center">
      <div class="container" id="containerId">
        <h1>Article Dashboard</h1>
        <%= link_to "Sign Up", "#", class:"btn btn-primary btn-lg btn-xlarge" %>
      </div>
    </div>
  </div>
